<fieldset>
  <%= content_tag(:legend, l(:external_signup_text_settings_configuration)) %>
  <%= content_tag(:p, l(:external_signup_settings_help)) %>

  <p>
    <%= content_tag(:label, l(:label_role_plural)) %>

    <%-
      roles = Role.all(:order => "position ASC")
      selected = @settings['roles'].collect(&:to_i) unless @settings['roles'].blank?
      selected ||= []
    -%>

    <% unless roles.empty? %>
    <%=
      select_tag("settings[roles]",
                 content_tag(:option, '') + options_from_collection_for_select(roles, :id, :name, selected ),
                 :multiple => true,
                 :size => 5)
    %>
    <% else %>
      <%= link_to(l(:external_signup_missing_roles), :controller => 'roles', :action => 'index') %>
   <% end %>
</fieldset>

<fieldset>
  <%= content_tag(:legend, l(:external_signup_text_settings_project_configuration)) %>
  <%= content_tag(:p, l(:external_signup_settings_help_projects)) %>

  <p>
    <%= content_tag(:label, l(:external_signup_add_members_role_plural)) %>

    <%-
      selected_roles_for_all_users = @settings['roles'].collect(&:to_i) unless @settings['roles_for_all_users'].blank?
      selected_roles_for_all_users ||= []
    -%>

    <% unless roles.empty? %>
    <%=
      select_tag("settings[roles_for_all_users]",
                 content_tag(:option, '') + options_from_collection_for_select(roles, :id, :name, selected_roles_for_project ),
                 :multiple => true,
                 :size => 5)
    %>
    <% else %>
      <%= link_to(l(:external_signup_missing_roles), :controller => 'roles', :action => 'index') %>
   <% end %>
</fieldset>

<fieldset>
  <%= content_tag(:legend, l(:external_signup_text_settings_security)) %>
  <%= content_tag(:p, l(:external_signup_settings_help_security)) %>

  <p>
    <%= content_tag(:label, l(:external_signup_security_key_label)) %>
    <%= text_field_tag 'settings[security_key]', @settings['security_key'], :size => 30, :id => 'settings_security_key' %>
    <script type="text/javascript">
      function generateSecurityKey() {
          var security_key = $('settings_security_key');
          if (security_key.value == '') {
              security_key.value = randomKey(20);
          } else {
              if (confirm("<%= l(:external_signup_security_key_generation_warning) -%>")) {
                  security_key.value = randomKey(20);
              }
          }
      }
    </script>

    <%= link_to_function l(:label_generate_key), "generateSecurityKey()" %>
  </p>

</fieldset>
